[Desktop Entry]
Version=1.0
Name=NPhotos
Comment=Visor y organizador de fotos de Nexora
Exec=/usr/bin/nphotos
Icon=nphotos
Terminal=false
Type=Application
Categories=Graphics;Photography;
StartupWMClass=nphotos
